In [1]:
import pandas as pd
import numpy as np
import keras

In [2]:
data = pd.read_csv(r'E:\ESD-USB\windows\fraudTrain.csv')

In [3]:
data.head(10)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
5,5,2019-01-01 00:04:08,4767265376804500,"fraud_Stroman, Hudson and Erdman",gas_transport,94.63,Jennifer,Conner,F,4655 David Island,...,40.3750,-75.2045,2158,Transport planner,1961-06-19,189a841a0a8ba03058526bcfe566aab5,1325376248,40.653382,-76.152667,0
6,6,2019-01-01 00:04:42,30074693890476,fraud_Rowe-Vandervort,grocery_net,44.54,Kelsey,Richards,F,889 Sarah Station Suite 624,...,37.9931,-100.9893,2691,Arboriculturist,1993-08-16,83ec1cc84142af6e2acf10c44949e720,1325376282,37.162705,-100.153370,0
7,7,2019-01-01 00:05:08,6011360759745864,fraud_Corwin-Collins,gas_transport,71.65,Steven,Williams,M,231 Flores Pass Suite 720,...,38.8432,-78.6003,6018,"Designer, multimedia",1947-08-21,6d294ed2cc447d2c71c7171a3d54967c,1325376308,38.948089,-78.540296,0
8,8,2019-01-01 00:05:18,4922710831011201,fraud_Herzog Ltd,misc_pos,4.27,Heather,Chase,F,6888 Hicks Stream Suite 954,...,40.3359,-79.6607,1472,Public affairs consultant,1941-03-07,fc28024ce480f8ef21a32d64c93a29f5,1325376318,40.351813,-79.958146,0
9,9,2019-01-01 00:06:01,2720830304681674,"fraud_Schoen, Kuphal and Nitzsche",grocery_pos,198.39,Melissa,Aguilar,F,21326 Taylor Squares Suite 708,...,36.5220,-87.3490,151785,Pathologist,1974-03-28,3b9014ea8fb80bd65de0b1463b00b00e,1325376361,37.179198,-87.485381,0

In [4]:
fraud_indices = np.array(data[data.is_fraud == 1].index)
number_records_fraud = len(fraud_indices)
print(number_records_fraud)

7506

In [5]:
data.shape

(1296675, 23)

In [6]:
pd.set_option('display.max_columns', None)

In [7]:
data['trans_date_trans_time'] = pd.to_datetime(data['trans_date_trans_time'])

In [8]:
data.head(10)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,VA,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
5,5,2019-01-01 00:04:08,4767265376804500,"fraud_Stroman, Hudson and Erdman",gas_transport,94.63,Jennifer,Conner,F,4655 David Island,Dublin,PA,18917,40.3750,-75.2045,2158,Transport planner,1961-06-19,189a841a0a8ba03058526bcfe566aab5,1325376248,40.653382,-76.152667,0
6,6,2019-01-01 00:04:42,30074693890476,fraud_Rowe-Vandervort,grocery_net,44.54,Kelsey,Richards,F,889 Sarah Station Suite 624,Holcomb,KS,67851,37.9931,-100.9893,2691,Arboriculturist,1993-08-16,83ec1cc84142af6e2acf10c44949e720,1325376282,37.162705,-100.153370,0
7,7,2019-01-01 00:05:08,6011360759745864,fraud_Corwin-Collins,gas_transport,71.65,Steven,Williams,M,231 Flores Pass Suite 720,Edinburg,VA,22824,38.8432,-78.6003,6018,"Designer, multimedia",1947-08-21,6d294ed2cc447d2c71c7171a3d54967c,1325376308,38.948089,-78.540296,0
8,8,2019-01-01 00:05:18,4922710831011201,fraud_Herzog Ltd,misc_pos,4.27,Heather,Chase,F,6888 Hicks Stream Suite 954,Manor,PA,15665,40.3359,-79.6607,1472,Public affairs consultant,1941-03-07,fc28024ce480f8ef21a32d64c93a29f5,1325376318,40.351813,-79.958146,0
9,9,2019-01-01 00:06:01,2720830304681674,"fraud_Schoen, Kuphal and Nitzsche",grocery_pos,198.39,Melissa,Aguilar,F,21326 Taylor Squares Suite 708,Clarksville,TN,37040,36.5220,-87.3490,151785,Pathologist,1974-03-28,3b9014ea8fb80bd65de0b1463b00b00e,1325376361,37.179198,-87.485381,0

In [9]:
data.drop(columns=['Unnamed: 0','street','state','first','last','trans_num','unix_time','gender'],inplace=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 15 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1296675 non-null  datetime64[ns]
 1   cc_num                 1296675 non-null  int64
 2   merchant               1296675 non-null  object
 3   category               1296675 non-null  object
 4   amt                    1296675 non-null  float64
 5   city                   1296675 non-null  object
 6   zip                    1296675 non-null  int64
 7   lat                    1296675 non-null  float64
 8   long                   1296675 non-null  float64
 9   city_pop               1296675 non-null  int64
 10  job                    1296675 non-null  object
 11  dob                    1296675 non-null  object
 12  merch_lat              1296675 non-null  float64
 13  merch_long             1296675 non-null  float64
 14  is_fraud               1296675 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(4), object(5)
memory usage: 148.4+ MB

In [11]:
float64_cols = list(data.select_dtypes(include='float64'))
data[float64_cols] = data[float64_cols].astype('float16')
data['cc_num']=data['cc_num'].astype('float64')

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 15 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1296675 non-null  datetime64[ns]
 1   cc_num                 1296675 non-null  float64
 2   merchant               1296675 non-null  object
 3   category               1296675 non-null  object
 4   amt                    1296675 non-null  float16
 5   city                   1296675 non-null  object
 6   zip                    1296675 non-null  int64
 7   lat                    1296675 non-null  float16
 8   long                   1296675 non-null  float16
 9   city_pop               1296675 non-null  int64
 10  job                    1296675 non-null  object
 11  dob                    1296675 non-null  object
 12  merch_lat              1296675 non-null  float16
 13  merch_long             1296675 non-null  float16
 14  is_fraud               1296675 non-null  int64
dtypes: datetime64[ns](1), float16(5), float64(1), int64(3), object(5)
memory usage: 111.3+ MB

In [13]:
data['merchant'] = data['merchant'].apply(lambda x : x.replace('fraud_',''))

In [14]:
data['dob'] = pd.to_datetime(data['dob'])
data['age_cust'] = (data['trans_date_trans_time'].dt.year - data['dob'].dt.year).astype(int)
data.drop(columns='dob',inplace=True)
data.head(10)

,trans_date_trans_time,cc_num,merchant,category,amt,city,zip,lat,long,city_pop,job,merch_lat,merch_long,is_fraud,age_cust
0,2019-01-01 00:00:18,2.703186e+15,"Rippin, Kub and Mann",misc_net,4.968750,Moravian Falls,28654,36.09375,-81.1875,3495,"Psychologist, counselling",36.00000,-82.0625,0,31
1,2019-01-01 00:00:44,6.304233e+11,"Heller, Gutmann and Zieme",grocery_pos,107.250000,Orient,99160,48.87500,-118.1875,149,Special educational needs teacher,49.15625,-118.1875,0,41
2,2019-01-01 00:00:51,3.885949e+13,Lind-Buckridge,entertainment,220.125000,Malad City,83252,42.18750,-112.2500,4154,Nature conservation officer,43.15625,-112.1250,0,57
3,2019-01-01 00:01:16,3.534094e+15,"Kutch, Hermiston and Farrell",gas_transport,45.000000,Boulder,59632,46.21875,-112.1250,1939,Patent attorney,47.03125,-112.5625,0,52
4,2019-01-01 00:03:06,3.755342e+14,Keeling-Crist,misc_pos,41.968750,Doe Hill,24433,38.40625,-79.4375,99,Dance movement psychotherapist,38.68750,-78.6250,0,33
5,2019-01-01 00:04:08,4.767265e+15,"Stroman, Hudson and Erdman",gas_transport,94.625000,Dublin,18917,40.37500,-75.1875,2158,Transport planner,40.65625,-76.1250,0,58
6,2019-01-01 00:04:42,3.007469e+13,Rowe-Vandervort,grocery_net,44.531250,Holcomb,67851,38.00000,-101.0000,2691,Arboriculturist,37.15625,-100.1250,0,26
7,2019-01-01 00:05:08,6.011361e+15,Corwin-Collins,gas_transport,71.625000,Edinburg,22824,38.84375,-78.6250,6018,"Designer, multimedia",38.93750,-78.5625,0,72
8,2019-01-01 00:05:18,4.922711e+15,Herzog Ltd,misc_pos,4.269531,Manor,15665,40.34375,-79.6875,1472,Public affairs consultant,40.34375,-79.9375,0,78
9,2019-01-01 00:06:01,2.720830e+15,"Schoen, Kuphal and Nitzsche",grocery_pos,198.375000,Clarksville,37040,36.53125,-87.3750,151785,Pathologist,37.18750,-87.5000,0,45

In [15]:
data['lat_dist'] = abs(round(data['merch_lat']-data['lat'],2))
data['long_dist'] = abs(round(data['merch_long']-data['long'],2))

In [16]:
data.head(10)

,trans_date_trans_time,cc_num,merchant,category,amt,city,zip,lat,long,city_pop,job,merch_lat,merch_long,is_fraud,age_cust,lat_dist,long_dist
0,2019-01-01 00:00:18,2.703186e+15,"Rippin, Kub and Mann",misc_net,4.968750,Moravian Falls,28654,36.09375,-81.1875,3495,"Psychologist, counselling",36.00000,-82.0625,0,31,0.090027,0.879883
1,2019-01-01 00:00:44,6.304233e+11,"Heller, Gutmann and Zieme",grocery_pos,107.250000,Orient,99160,48.87500,-118.1875,149,Special educational needs teacher,49.15625,-118.1875,0,41,0.280029,0.000000
2,2019-01-01 00:00:51,3.885949e+13,Lind-Buckridge,entertainment,220.125000,Malad City,83252,42.18750,-112.2500,4154,Nature conservation officer,43.15625,-112.1250,0,57,0.970215,0.119995
3,2019-01-01 00:01:16,3.534094e+15,"Kutch, Hermiston and Farrell",gas_transport,45.000000,Boulder,59632,46.21875,-112.1250,1939,Patent attorney,47.03125,-112.5625,0,52,0.810059,0.439941
4,2019-01-01 00:03:06,3.755342e+14,Keeling-Crist,misc_pos,41.968750,Doe Hill,24433,38.40625,-79.4375,99,Dance movement psychotherapist,38.68750,-78.6250,0,33,0.280029,0.810059
5,2019-01-01 00:04:08,4.767265e+15,"Stroman, Hudson and Erdman",gas_transport,94.625000,Dublin,18917,40.37500,-75.1875,2158,Transport planner,40.65625,-76.1250,0,58,0.280029,0.939941
6,2019-01-01 00:04:42,3.007469e+13,Rowe-Vandervort,grocery_net,44.531250,Holcomb,67851,38.00000,-101.0000,2691,Arboriculturist,37.15625,-100.1250,0,26,0.839844,0.879883
7,2019-01-01 00:05:08,6.011361e+15,Corwin-Collins,gas_transport,71.625000,Edinburg,22824,38.84375,-78.6250,6018,"Designer, multimedia",38.93750,-78.5625,0,72,0.090027,0.059998
8,2019-01-01 00:05:18,4.922711e+15,Herzog Ltd,misc_pos,4.269531,Manor,15665,40.34375,-79.6875,1472,Public affairs consultant,40.34375,-79.9375,0,78,0.000000,0.250000
9,2019-01-01 00:06:01,2.720830e+15,"Schoen, Kuphal and Nitzsche",grocery_pos,198.375000,Clarksville,37040,36.53125,-87.3750,151785,Pathologist,37.18750,-87.5000,0,45,0.660156,0.119995

In [17]:
data.drop(columns=['lat','long','merch_lat','merch_long','trans_date_trans_time'],inplace=True)
data.shape

(1296675, 12)

In [18]:
data.head(10)

,cc_num,merchant,category,amt,city,zip,city_pop,job,is_fraud,age_cust,lat_dist,long_dist
0,2.703186e+15,"Rippin, Kub and Mann",misc_net,4.968750,Moravian Falls,28654,3495,"Psychologist, counselling",0,31,0.090027,0.879883
1,6.304233e+11,"Heller, Gutmann and Zieme",grocery_pos,107.250000,Orient,99160,149,Special educational needs teacher,0,41,0.280029,0.000000
2,3.885949e+13,Lind-Buckridge,entertainment,220.125000,Malad City,83252,4154,Nature conservation officer,0,57,0.970215,0.119995
3,3.534094e+15,"Kutch, Hermiston and Farrell",gas_transport,45.000000,Boulder,59632,1939,Patent attorney,0,52,0.810059,0.439941
4,3.755342e+14,Keeling-Crist,misc_pos,41.968750,Doe Hill,24433,99,Dance movement psychotherapist,0,33,0.280029,0.810059
5,4.767265e+15,"Stroman, Hudson and Erdman",gas_transport,94.625000,Dublin,18917,2158,Transport planner,0,58,0.280029,0.939941
6,3.007469e+13,Rowe-Vandervort,grocery_net,44.531250,Holcomb,67851,2691,Arboriculturist,0,26,0.839844,0.879883
7,6.011361e+15,Corwin-Collins,gas_transport,71.625000,Edinburg,22824,6018,"Designer, multimedia",0,72,0.090027,0.059998
8,4.922711e+15,Herzog Ltd,misc_pos,4.269531,Manor,15665,1472,Public affairs consultant,0,78,0.000000,0.250000
9,2.720830e+15,"Schoen, Kuphal and Nitzsche",grocery_pos,198.375000,Clarksville,37040,151785,Pathologist,0,45,0.660156,0.119995

In [19]:
from imblearn.over_sampling import SMOTE
oversample = SMOTE()

In [20]:
data.drop(columns=['merchant','category','city','job','cc_num'],inplace=True)

In [21]:
data.describe()

,amt,zip,city_pop,is_fraud,age_cust,lat_dist,long_dist
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1296675.00
mean,NaN,4.880067e+04,8.882444e+04,5.788652e-03,4.602930e+01,NaN,NaN
std,NaN,2.689322e+04,3.019564e+05,7.586269e-02,1.738237e+01,0.000000e+00,0.00
min,1.000000e+00,1.257000e+03,2.300000e+01,0.000000e+00,1.400000e+01,0.000000e+00,0.00
25%,9.648438e+00,2.623700e+04,7.430000e+02,0.000000e+00,3.300000e+01,2.500000e-01,0.25
50%,4.753125e+01,4.817400e+04,2.456000e+03,0.000000e+00,4.400000e+01,5.000000e-01,0.50
75%,8.312500e+01,7.204200e+04,2.032800e+04,0.000000e+00,5.700000e+01,7.500000e-01,0.75
max,2.894400e+04,9.978300e+04,2.906700e+06,1.000000e+00,9.600000e+01,1.019531e+00,1.00

In [22]:
x = data.drop('is_fraud',axis = 1)
y = data['is_fraud']
print(x[:30])
data.head(10)

           amt    zip  city_pop  age_cust  lat_dist  long_dist
0     4.968750  28654      3495        31  0.090027   0.879883
1   107.250000  99160       149        41  0.280029   0.000000
2   220.125000  83252      4154        57  0.970215   0.119995
3    45.000000  59632      1939        52  0.810059   0.439941
4    41.968750  24433        99        33  0.280029   0.810059
5    94.625000  18917      2158        58  0.280029   0.939941
6    44.531250  67851      2691        26  0.839844   0.879883
7    71.625000  22824      6018        72  0.090027   0.059998
8     4.269531  15665      1472        78  0.000000   0.250000
9   198.375000  37040    151785        45  0.660156   0.119995
10   24.734375  51632      7297        29  0.469971   0.939941
11    7.769531  25442      1925        53  0.720215   0.810059
12   71.250000  33710    341043        30  0.170044   0.439941
13   96.312500  96038       589        74  0.029999   0.250000
14    7.769531  88325       899        52  0.059998   0.689941
15    3.259766   7640      4664        54  0.839844   0.310059
16  327.000000  73754      1078        67  0.000000   1.000000
17  341.750000  47838      4081        81  0.280029   0.939941
18   63.062500  16421      2518        73  0.750000   0.439941
19   44.718750   7208    124967        39  0.589844   0.620117
20   57.343750   1844     47249        39  0.439941   0.000000
21   50.781250  52572      1132        58  0.500000   0.750000
22   46.281250   7060     71485        45  0.589844   0.189941
23    9.546875  76857      1791        54  0.330078   0.310059
24   22.953125  53186     95015        73  0.379883   0.810059
25    2.550781  27807      6629        57  0.939941   0.620117
26   64.062500  48174     31515        48  0.160034   0.189941
27    6.851562  83120       471        52  0.720215   0.439941
28   90.250000  96727      4878        53  0.520020   0.500000
29    4.019531  69201      4005        74  0.340088   0.620117

          amt    zip  city_pop  is_fraud  age_cust  lat_dist  long_dist
0    4.968750  28654      3495         0        31  0.090027   0.879883
1  107.250000  99160       149         0        41  0.280029   0.000000
2  220.125000  83252      4154         0        57  0.970215   0.119995
3   45.000000  59632      1939         0        52  0.810059   0.439941
4   41.968750  24433        99         0        33  0.280029   0.810059
5   94.625000  18917      2158         0        58  0.280029   0.939941
6   44.531250  67851      2691         0        26  0.839844   0.879883
7   71.625000  22824      6018         0        72  0.090027   0.059998
8    4.269531  15665      1472         0        78  0.000000   0.250000
9  198.375000  37040    151785         0        45  0.660156   0.119995

In [23]:
X, Y = oversample.fit_resample(x, y.values.ravel())

In [24]:
print(len(X))
print(len(Y))

2578338
2578338

In [25]:
from sklearn.model_selection import train_test_split
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from sklearn.preprocessing import StandardScaler 
from sklearn.svm import SVC

In [26]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)
x_train = np.array(x_train)
x_test = np.array(x_test)
y_train = np.array(y_train).reshape((-1,1))
y_test = np.array(y_test).reshape((-1,1))
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [27]:
print(x_train[0])

[ 0.49318181 -0.11487926 -0.29487847 -0.86055142  0.01337163  0.75775647]

In [27]:
model = Sequential([
    Dense(units=16, input_dim = 6,activation='relu'),
    Dense(units=24,activation='relu'),
    Dropout(0.5),
    Dense(20,activation='relu'),
    Dense(24,activation='relu'),
    Dense(1,activation='sigmoid'),
])
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                112

 dense_1 (Dense)             (None, 24)                408

 dropout (Dropout)           (None, 24)                0

 dense_2 (Dense)             (None, 20)                500

 dense_3 (Dense)             (None, 24)                504

 dense_4 (Dense)             (None, 1)                 25

=================================================================
Total params: 1,549
Trainable params: 1,549
Non-trainable params: 0
_________________________________________________________________

In [29]:
model.fit(x_train,y_train,batch_size=40,epochs=8)

Epoch 1/8
51567/51567 [==============================] - 131s 3ms/step - loss: 0.3461 - accuracy: 0.8598
Epoch 2/8
51567/51567 [==============================] - 128s 2ms/step - loss: 0.3157 - accuracy: 0.8686
Epoch 3/8
51567/51567 [==============================] - 130s 3ms/step - loss: 0.3077 - accuracy: 0.8714
Epoch 4/8
51567/51567 [==============================] - 128s 2ms/step - loss: 0.3038 - accuracy: 0.8722
Epoch 5/8
51567/51567 [==============================] - 129s 2ms/step - loss: 0.3015 - accuracy: 0.8727
Epoch 6/8
51567/51567 [==============================] - 129s 2ms/step - loss: 0.3002 - accuracy: 0.8728
Epoch 7/8
51567/51567 [==============================] - 129s 3ms/step - loss: 0.2984 - accuracy: 0.8731
Epoch 8/8
51567/51567 [==============================] - 130s 3ms/step - loss: 0.2976 - accuracy: 0.8733

In [30]:
score = model.evaluate(x_test, y_test)

16115/16115 [==============================] - 33s 2ms/step - loss: 0.4254 - accuracy: 0.8413

In [31]:
print(score)

[0.4254472553730011, 0.8412660956382751]

In [32]:
model.save("cc_fraud.h5")

In [28]:
from tensorflow.keras.models import load_model
model=load_model("cc_fraud.h5")

In [29]:
model.predict(x_test)

16115/16115 [==============================] - 31s 2ms/step

array([[0.4148504 ],
       [0.7091249 ],
       [0.5056836 ],
       ...,
       [0.0982825 ],
       [0.7006547 ],
       [0.36609027]], dtype=float32)

In [30]:
model.predict(x_test[:20])

1/1 [==============================] - 0s 31ms/step

array([[0.4148504 ],
       [0.7091249 ],
       [0.5056836 ],
       [0.46347237],
       [0.80575186],
       [0.12314469],
       [0.11326198],
       [0.8914333 ],
       [0.7160079 ],
       [0.80225253],
       [0.35777947],
       [0.7176683 ],
       [0.2945608 ],
       [0.8838572 ],
       [0.7372328 ],
       [0.0428549 ],
       [0.08768786],
       [0.14474852],
       [0.5428278 ],
       [0.10556935]], dtype=float32)